/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** Global Variables **/
:root {

    /** Primary Colors **/
    --Marine_blue: hsl(213, 96%, 18%);
    --Purplish_blue: hsl(243, 100%, 62%);
    --Pastel_blue: hsl(228, 100%, 84%);
    --Light_blue: hsl(206, 94%, 87%);
    --Strawberry_red: hsl(354, 84%, 57%);

    /**  Neutral Colors **/

    --Cool_gray: hsl(231, 11%, 63%);
    --Light_gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

/** Font  **/
@font-face {
    font-family: Ubuntu;
    src: url("/assets/fonts/Ubuntu-Bold.ttf");

}

/** Global Styles **/
body {
    background-color: var(--Light_blue);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

h1 {
    /** form header **/
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--Marine_blue);
}

h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}


p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--Cool_gray);
}

span {}

/** Main page styling **/

/** main container **/
.main-section {
    max-width: 940px;
    min-height: 600px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* gap: 20px; */

}

/** Header section **/
.header {
    border: 1px solid green;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.step-list-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 31px;
    position: absolute;
    left: 32px;
    top: 40px;

}

.step-indicator {
    /* max-width: 135px;
    min-height: 33px; */
    /* border: 1px solid red; */
    gap: 24px;
    display: flex;
    padding: 5px;
    /* justify-content: space-between; */
}

.indicator_num {
    width: 33px;
    height: 33px;
    border: 1px solid var(--White);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    list-style: none;
    color: var(--White);

}
.active{
    background:#BEE2FD;
}
.indicator_info {
    /* display: none; */
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.indicator_info > h2 {
    font-size: 12px;
    line-height: 14px;
    color: var(--Pastel_blue);
}

.indicator_info > h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: var(--White);
}



.desktop-svg {
    display: none;
    /* Initially hide the desktop SVG */
}
/** Form Section **/
.form-section{
    display: flex;
}
.form-section-container {
    max-width: 450px;
    min-height: 372px;
    /* border: 1px solid yellow; */

}

 .form-header {
    height: 87px;
     /* border: 1px solid rgb(12, 40, 161); */

    text-align: left;
}


.header-info > h2 {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;

}

.header-info>p {
    /* margin-left: 20px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--Cool_gray);
    padding: 2px;
}

.form-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.form-section-container{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 30px;
}
.form {
/*
    border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 12px;

}
label {

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #022959;

}
input {
    max-width: 450px;
    min-height: 72px;
    box-sizing: border-box;
    background:var(--White);
    border: 1px solid #D6D9E6;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: var(--Cool_gray);
}


/** Step_02  Plan selection page Begins **/
.billing-op-btn {
    width: 295px;
    height: 77px;
    /* Very Light Grey */

    background: #F8F9FF;
    /* Purple */
    /* box-sizing: border-box; */
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 12px;

}
.billing-op-btn.selected {
    /* background-color: #ffaf7e;
    color: #fff; */

    /* Very Light Grey */
background: #F8F9FF;
/* Purple */

border: 1px solid #483EFF;
border-radius: 8px;
  }

.billing-op-btn>img {
    margin-left: 10px;
}

.price-basket {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rebeccapurple; */
    gap: 7px;
}

.price-basket>h3 {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    /* Denim */

    color: #022959;
}

.price-basket>p {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Grey */

    color: #9699AA;

}

/** Toggle button **/
.toggle-btn-main {
    width: 295px;
    height: 48px;
    /* Very Light Grey */
    background: #F8F9FF;
    border-radius: 8px;
    /* border: 1px solid black; */
    /*position */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 32px;
}

.toggle-btn {
    width: 183px;
    height: 21px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

/** toggle switch **/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    /* width: 60px;
    height: 34px; */
    width: 38px;
    height: 21px;
    /* border: 1px solid black; */

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    /* background-color: #2196F3; */
    /* Denim */
    background-color: #022959;
}

input:focus+.slider {
    box-shadow: 0 0 1px #022959;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    /* border-radius: 34px; */
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

/** Step_02  Plan selection page Ends **/

/*** Section_03 ***/
.order_sum {
    /* Very Light Grey */
    background: #F8F9FF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.plan_duration {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding-left: 26px;
    padding-right: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: right;
    /* Denim */
    color: #022959;

}

.plan_duration>a {
    align-self: flex-end;
    margin-left: 0;
    position: absolute;
    left: 26px;


    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-decoration-line: underline;

    /* Grey */

    color: #9699AA;
}

.service_type {
    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Grey */
    color: #9699AA;
}

.storage_type {
    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 24px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Grey */
    color: #9699AA;
}

.total {
    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 24px;

}

.total>h3 {


    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Grey */

    color: #9699AA;
}

.total>p {

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: right;

    /* Purple */

    color: #483EFF;

}

/** Thank you Card **/

.thanks_note {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    /* White */

background: #FFFFFF;
box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
border-radius: 10px;
}

.thanks_note>img {
    margin-top: 79px;
}

.thanks_note>h1 {

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    /* Denim */
    color: #022959;

    margin-top: 24px;
    margin-bottom: 0;
}

.thanks_note>p {

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    /* text-align: center; */
    /* Grey */
    padding: 24px;
    ;
    color: #9699AA;
    margin-top: 0;
}


/** Footer Section styling Starts **/
.footer {
    width: 375px;
    height: 72px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
   position: absolute;
   bottom: 0;
}

/** Next Button **/
.next-btn {
    width: 97px;
    height: 40px;
    background: #022959;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin-right: 16px;

font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height */


/* White */

color: #FFFFFF;


}
.next-btn-text {
    width: 65px;
    height: 16px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    /* White */
    color: #FFFFFF;
}

/* Go Back Button */
.go-back-btn {
    width: 70px;
    height: 26px;
    text-align: center;
    margin-left: 16px;
    border: none;
    /*inner text */

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    color: #9699AA;
}
/**Confirm button **/
.confirm-btn{
    width: 97px;
height: 40px;
    /* Purple */
background: #483EFF;
border-radius: 4px;
display: flex;
justify-content: space-around;
align-items: center;
border: none;
margin-right: 16px;


font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height */

text-align: center;

/* White */

color: #FFFFFF;
}

/** Footer section Ends **/
/** Main Section Ends **/




/** Media queries**/

/** desktop **/
@media (min-width: 376px) {
    .main-section {
        flex-direction: row;
        background: #FFFFFF;
        box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
        border-radius: 15px;

    }


    .desktop-svg {
        display: block;
    }

    .mobile-svg {
        display: none;
    }

}

/* Media query for mobile */
@media (max-width: 375px) {

    .step-list-items {
        flex-direction: row;
    }

    .indicator_info {
        display: none;
    }
    .main-section{
position: relative;
    }

    .form-section {
        border: 1px solid yellow;
        background: #FFFFFF;
        box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
        border-radius: 10px;
        margin-top: 0;
        position: absolute;
        bottom: 0;
        top: 100;

    }

}
