/*** Global Variables ***/
:root {

    /** Primary Colors **/
    --Marine_blue: hsl(213, 96%, 18%);
    --Purplish_blue: hsl(243, 100%, 62%);
    --Pastel_blue: hsl(228, 100%, 84%);
    --Light_blue: hsl(206, 94%, 87%);
    --Strawberry_red: hsl(354, 84%, 57%);

    /**  Neutral Colors **/

    --Cool_gray: hsl(231, 11%, 63%);
    --Light_gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

/** Font  **/
@font-face {
    font-family: Ubuntu;
    src: url("/assets/fonts/Ubuntu-Bold.ttf");
    
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}


/** Header styling Begins **/

.hero-section {
    /* max-width: 375px;
    height: 172px; */
    display: flex;
    flex-direction: column;
    position: relative;

}

.step-list-items {
    width: 180px;
    height: 33px;

    /** Positioning **/
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-left: 0;
    color: #022959;
    position: absolute;
    left: 98px;
    top: 32px;

}
/** Header styling ends **/

.step-list {
    width: 33px;
    height: 33px;

    border: 1px solid var(--White);
    border-radius: 50%;
    /* Internal Text*/
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /** positioning Numbers **/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style: none;
    color: var(--White);
    color: black;

}
.active{
    background:#BEE2FD;
}
.step-list:hover {
    color: #022959;
    background: #BEE2FD;
}

/** Footer Section styling Starts **/
.footer {
    width: 375px;
    height: 72px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);

}

/** Next Button **/
.next-btn {
    width: 97px;
    height: 40px;
    background: #022959;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin-right: 16px;
}

.next-btn-text {
    width: 65px;
    height: 16px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    /* White */
    color: #FFFFFF;
}

/* Go Back Button */
.go-back-btn {
    width: 70px;
    height: 26px;
    text-align: center;
    margin-left: 16px;
    border: none;
    /*inner text */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    color: #9699AA;
}

/** Footer section Ends **/

/** Middle Section starts **/
.main-section {
    width: 375px;
    height: 500px;
    /* border: 1px solid red; */
    background-color: var(--Light_blue);
}

/** header info **/
.form-container {
    width: 343px;
    /* height: 376px; */
    background: #FFFFFF;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
    border-radius: 10px;
    position: absolute;
    left: 16px;
    top: 99px;
}

.form-header {
    width: 295px;
    height: 87px;
    /* border: 1px solid red; */
    padding: 7px;
}

.header-info > h2 {
    margin: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    /* Denim */
    color: #022959;

    padding-left: 24px;
    padding-right: 24px;

}

.header-info>p {
    margin-left: 20px;
    /* Body (L) */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    /* Grey */
    color: #9699AA;
    padding: 2px;
}

/** Form Section Starts **/
.form {
    width: 295px;
    /* height: 203px; */
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 30px;
}

.form>label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    /* Denim */
    color: #022959;

    width: 33px;
    height: 14px;
    margin-bottom: 2px;

}

.form>input {
    box-sizing: border-box;
    /* White */
    background: #FFFFFF;
    /* Border Color */
    border: 1px solid #D6D9E6;
    border-radius: 4px;

    width: 295px;
    height: 65px;
    margin-bottom: 15px;
    padding-left: 15px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;

    /* Grey */

    color: #9699AA;
}

/** Form Section Ends **/



/** Step_02  Plan selection page Begins **/
.billing-op-btn {
    width: 295px;
    height: 77px;
    /* Very Light Grey */

    background: #F8F9FF;
    /* Purple */
    /* box-sizing: border-box; */
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 12px;

}

.billing-op-btn>img {
    margin-left: 10px;
}

.price-basket {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rebeccapurple; */
    gap: 7px;
}

.price-basket>h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    /* Denim */

    color: #022959;
}

.price-basket>p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Grey */

    color: #9699AA;

}

/** Toggle button **/
.toggle-btn-main {
    width: 295px;
    height: 48px;
    /* Very Light Grey */
    background: #F8F9FF;
    border-radius: 8px;
    /* border: 1px solid black; */
    /*position */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 32px;
}

.toggle-btn {
    width: 183px;
    height: 21px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

/** toggle switch **/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    /* width: 60px;
    height: 34px; */
    width: 38px;
    height: 21px;
    /* border: 1px solid black; */

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    /* background-color: #2196F3; */
    /* Denim */
    background-color: #022959;
}

input:focus+.slider {
    box-shadow: 0 0 1px #022959;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    /* border-radius: 34px; */
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

/** Step_02  Plan selection page Ends **/

/** Step_03  Add-ons selection page Begins **/
.check_box_form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;


    margin-left: 20px;
    margin-top: 22px;
    margin-bottom: 32px;
    gap: 12px;
}

.check_box {
    width: 295px;
    height: 62px;
    /* Very Light Grey */
    background: #F8F9FF;
    /* Purple */
    border: 1px solid #483EFF;
    border-radius: 8px;
    /* border: 1px solid burlywood; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;

}

.check_box>input {
    /* Purple */
    width: 20px;
    height: 20px;
    background: #483EFF;
    border-radius: 4px;
    margin-left: 10px;
    text-align: start;
}

.check_box>label {
    /* display: flex; */
    /* flex-direction: column; */
    text-align: left;
    /* margin-top: 12px;
margin-left: 12px; */
}

.check_box>label>h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    /* Denim */
    color: #022959;
}

.check_box>label>p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 20px; */
    /* identical to box height, or 167% */
    /* Grey */
    color: #9699AA;
}

.check_box>span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 20px; */
    /* identical to box height, or 167% */
    /* text-align: right; */
    /* Purple */
    color: #483EFF;
    margin-left: 35px;
    padding: 11px;
}


/*** Section_03 ***/
.order_sum {
    /* Very Light Grey */
    background: #F8F9FF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.plan_duration {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding-left: 26px;
    padding-right: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: right;
    /* Denim */
    color: #022959;

}

.plan_duration>a {
    align-self: flex-end;
    margin-left: 0;
    position: absolute;
    left: 26px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-decoration-line: underline;

    /* Grey */

    color: #9699AA;
}

.service_type {
    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 24px;

    font-family: 'Ubuntu';

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Grey */
    color: #9699AA;
}

.storage_type {
    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 24px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Grey */
    color: #9699AA;
}

.total {
    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 24px;

}

.total>h3 {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Grey */

    color: #9699AA;
}

.total>p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: right;

    /* Purple */

    color: #483EFF;

}

/** Thank you Card **/

.thanks_note {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.thanks_note>img {
    margin-top: 79px;
}

.thanks_note>h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    /* Denim */
    color: #022959;

    margin-top: 24px;
    margin-bottom: 0;
}

.thanks_note>p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    /* text-align: center; */
    /* Grey */
    padding: 24px;
    ;
    color: #9699AA;
    margin-top: 0;
}

/** Middle Section Ends **/